@use '@/assets/styles/variables' as *;

.container {
  width: 200px;
  padding: 30px;
  position: absolute;
  right: -212px;
  top: -35px;
  z-index: 3;
  background-color: $grey-darker-color;
  border-radius: 10px;
}

.list {
  list-style-type: none;
}

.item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 137%;
  color: #4D4D56;
  text-align: start;
}
